@charset "utf-8";
/* CSS Document */
body {
    background-color:#CCCC99;
    color: #000305;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:99%;
    text-align:left;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
    a:link, a:visited {
        color:#6699cc;
    }
    a:hover, a:active {
         background-color:#6699cc;
         color:#fff;
}
.mainHeader img {
	width: auto;
	height: auto;
	margin: 1% 0;
}

.mainHeader nav {
	background-color: #FB7FB2;
	color: #6699cc;
	height: 40px;
	border-radius: 8px;
	-moz-border-radius: 8 px;
	-webkit-border-radius: 8px;
}

    .mainHeader nav ul {
	list-style: none;
	margin: auto;
    }
	
    .mainHeader nav ul li {
            display:inline;
            float:left;
			position:relative;
        }
	.main Header nav ul ul {
		position:absolute;
		display:none;
		}
.mainHeader nav ul ul li  {
	background-color: #CC0000;
}

    .mainHeader nav a:link, .mainHeader nav a:visited {
        color:#fff;
        display:inline-block;
        padding:10px 30px;
        height:20px;
    }

    .mainHeader nav a:hover, .mainHeader nav a:active,
    .mainHeader .active a:link, .mainHeader .active a:visited {
	background-color: #5484D0;
	text-shadow: none;
    }

 .mainHeader nav ul li a {
        border-radius:0px;
         -moz-border-radius:0px;
         -webkit-border-radius:0px;
    }

.body footer{
	background-color: #FFF;
	height: 80px;
	width: 100%;
	text-align: center;
	font-family: "Verdana", Times, sans-serif;
	color: #336699;
	padding-top: 45px;
}


.body footer img {
	float: right;
	padding-right: 20px;
	height: 35px;
}


/*Simple reset*/
* {margin: 0; padding: 0;}

body {
	background-color: #036;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-style: normal;
	text-decoration: underline;
	text-align: center;
	color: white;
}
canvas {
	display: block;
	width: 100%;	
	background: url(../images/Home_Page_Graphic.png) no-repeat;
	background-size: 100% 100%;
}

#containingDiv { 
  overflow: hidden;
}
#myCanvas {
  position: absolute; 
  top: 0px;
  left: 0px;
  
} .tagline1 {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
	font-style: normal;
	text-decoration: overline;
	text-align: center;
	color:white;
}
